table {
  width: 50%;
  margin: 5% 10% 0 25%;
  text-align: center
}

.mat-header-cell {
  text-align: center;
  color: #000000;
  font-weight: bold;
  font-size: 15px;
}

.mat-header-cell {
  text-align: center;
}

.manage-user-button {
  background-color: #21449fdb;
  color: white;
  margin-left: 10px;
}
