
<form >
  <h1>Find the hotel</h1>
  <mat-form-field appearance="fill" [formGroup]="fil">
    <mat-label>City</mat-label>
    <input matInput formControlName="city">
    <mat-error *ngIf="fil.controls.city.hasError('matStartDateInvalid')">Invalid city</mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill" [formGroup]="fil">
    <mat-label>Rating</mat-label>
    <mat-select formControlName="rating">
      <mat-option value="1">1</mat-option>
      <mat-option value="2">2</mat-option>
      <mat-option value="3">3</mat-option>
      <mat-option value="4">4</mat-option>
      <mat-option value="5">5</mat-option>
      <mat-option value="6">6</mat-option>
      <mat-option value="7">7</mat-option>
      <mat-option value="8">8</mat-option>
      <mat-option value="9">9</mat-option>
      <mat-option value="10">10</mat-option>
    </mat-select>
  </mat-form-field>

  <button mat-raised-button class="search-button"
          (click)="filter(fil,pageEvent[0]? pageEvent[0].pageIndex: 0)">
    Search
  </button>

</form>

<div *ngIf="isDataLoaded">
  <table mat-table [dataSource]="hotelsPreviews" class="mat-elevation-z8 demo-table">

    <ng-container matColumnDef="photo">
      <th mat-header-cell cdkDrag *matHeaderCellDef> Picture</th>
      <td mat-cell *matCellDef="let element">
        <ng-template [ngIf]="isImage">
          <div class="picture-box">
            <img width="150" height="150" [src]="getImageHotel(element.imageHotel.image, element.hotel.id)">
          </div>
        </ng-template>
        <ng-template [ngIf]="!isImage">
          <p>No photo</p>
        </ng-template>
      </td>
    </ng-container>

    <!--name Column -->
    <ng-container matColumnDef="Name">
      <th mat-header-cell *matHeaderCellDef> Name</th>
      <td mat-cell *matCellDef="let element"> {{element.hotel.hotelName}} </td>
    </ng-container>

    <!--city Column -->
    <ng-container matColumnDef="city">
      <th mat-header-cell *matHeaderCellDef> City</th>
      <td mat-cell *matCellDef="let element"> {{element.hotel.city}} </td>
    </ng-container>

    <!--  rating Column -->
    <ng-container matColumnDef="rating">
      <th mat-header-cell *matHeaderCellDef> Rating</th>
      <td mat-cell *matCellDef="let element"> {{element.hotel.rating}} </td>
    </ng-container>

    <!--  description Column -->
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef> Description</th>
      <td mat-cell *matCellDef="let element"> {{element.hotel.description}} </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let hotelsPreview; columns: displayedColumns;"
        (click)="logFuncHotel(hotelsPreview.hotel.id)"></tr>
  </table>

  <mat-paginator [length]="length"
                 [pageSize]="pageSize"
                 (page)="pageEvent[0] = $event"
                 aria-label="Select page"
                 (click)="filter(fil,pageEvent[0]? pageEvent[0].pageIndex: 0)"
                 showFirstLastButtons>
  </mat-paginator>
</div>
