<a href="../filter-hotel">
  <button type="button" class="btn-close" aria-label="Close"></button>
</a>

<div class="post-container">
  <h2>{{detailsHotel?.hotel?.hotelName}}</h2>
</div>
<div class="image">
  <mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
    <mdb-carousel-item *ngFor="let image of detailsHotel.hotelImages">
      <img [src]="getImageHotel(image.image)">
    </mdb-carousel-item>
  </mdb-carousel>
</div>
<div class="block">
  <ul>
    <button *ngIf="this.userService.isAdmin() || this.userService.isAdvertiser()" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
      To change
    </button>
    <p>
      Description of the Hotel: {{detailsHotel.hotel?.description}}
    </p>
    <p>
      Hotel rating: {{detailsHotel.hotel?.rating}}
    </p>
    <p>
      City: {{detailsHotel.hotel?.city}}
    </p>

    <!--CHANGES TO HOTEL PARAMETERS-->



    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h2 class="modal-title" id="exampleModalLiveLabel">Changing the hotel description</h2>
          </div>
          <form #myFormHotel="ngForm" novalidate (ngSubmit)="onSubmitEditHotel(myFormHotel)">
            <div class="modal-body">
              <div class="mb-3">

                <label for="message-text" class="col-form-label">Name:</label>
                <div class="form-group">
                  <input class="form-control" name="hotelName" type="detailsHotel.hotel?.hotelName"
                         [value]="detailsHotel.hotel?.hotelName" ngModel required/>
                </div>

                <label for="message-text" class="col-form-label">Description:</label>
                <div class="form-group">
                  <input class="form-control" name="description" type="detailsHotel.hotel?.description"
                         [value]="detailsHotel.hotel?.description" ngModel required/>
                </div>

                <label for="message-text" class="col-form-label">City:</label>
                <div class="form-group">
                  <input class="form-control" name="city" type="detailsHotel.hotel?.city"
                         [value]="detailsHotel.hotel?.city" ngModel required/>
                </div>

                <label for="message-text" class="col-form-label">Rating:</label>
                <div class="form-group">
                  <input class="form-control" name="rating" type="detailsHotel.hotel?.rating"
                         [value]="detailsHotel.hotel?.rating" ngModel required/>
                </div>

              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <div class="form-group">
                <button type="submit" class="btn btn-primary" data-bs-dismiss="modal" [disabled]="myFormHotel.invalid">
                  Save Changes
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <table mat-table [dataSource]="apartments" class="mat-elevation-z8">

      <ng-container matColumnDef="hotel">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> hotel</th>
        <td mat-cell *matCellDef="let element"> {{element.hotel.hotelName}} </td>
      </ng-container>


      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> type</th>
        <td mat-cell *matCellDef="let element"> {{element.type.name}} </td>
      </ng-container>


      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> price</th>
        <td mat-cell *matCellDef="let element"> {{element.price}} </td>
      </ng-container>

      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> description</th>
        <td mat-cell *matCellDef="let element"> {{element.description}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="logFunc(row.id)"></tr>
    </table>
  </ul>

</div>
<div>
</div>
