table {
  width: 70%;
  margin: 5% 5% 0 15%;
  text-align: center;
}

.mat-header-cell {
  text-align: center;
  color: #000000;
  font-weight: bold;
  font-size: 15px;
}

.mat-header-cell {
  text-align: center;
}
