<a href="filter"><button type="button" class="btn-close" aria-label="Close"></button></a>

<div class="post-container">
  <h2>{{details?.apartment?.hotel?.hotelName}}</h2>
</div>
<div class="image">
  <mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
    <mdb-carousel-item  *ngFor="let image of details.apartmentImages">
      <img [src]="getImageApartment(image.image)" >
    </mdb-carousel-item>
  </mdb-carousel>
  </div>
<div class="block">
    <p>
      {{details.apartment?.description}}
    </p>
  <ul>
  <a class="semi-transparent-button" href="apartment/edit">Изменить</a>
  <a class="semi-transparent-button" href="#">Забронировать</a>
  </ul>
</div>
