<!--<div class="form-group">
  <label>id</label>
  <input class="form-control" type="number" name="id" [(ngModel)]="hotel.id" />
</div>-->





<form #myForm="ngForm" novalidate (ngSubmit)="onSubmit(myForm)">
  <div class="form-group">
    <label>id</label>
    <input class="form-control" name="id" ngModel required />
  </div>
  <div class="form-group">
    <label>hotelName</label>
    <input class="form-control" name="hotelName" ngModel
           required hotelName />
  </div>
  <div class="form-group">
    <label>city</label>
    <input class="form-control" name="city" ngModel
           required />
  </div>

  <div class="form-group">
    <label>rating</label>
    <input class="form-control" name="rating" ngModel
           required />
  </div>

 <div class="form-group">
   <input type="submit" [disabled]="myForm.invalid" class="btn btn-default" value="Отправить" />
 </div>
</form>




<!--<div *ngIf="done">
  <div>Получено от сервера:</div>
  <div>id: {{receivedHotel.id}}</div>
  <div>hotelName: {{receivedHotel.hotelName}}</div>
  <div>city: {{receivedHotel.city}}</div>
  <div>rating: {{receivedHotel.rating}}</div>

</div>-->
