<a href="../hotel-details/{{details.apartment?.hotel?.id}}">
  <button type="button" class="btn-close" aria-label="Close"></button>
</a>

<div class="post-container">
  <h2>{{details?.apartment?.hotel?.hotelName}}</h2>
</div>
<div class="image">
  <mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
    <mdb-carousel-item *ngFor="let image of details.apartmentImages">
      <img [src]="getImageApartment(image.image)">
    </mdb-carousel-item>
  </mdb-carousel>
</div>
<div class="block">
  <ul>
    <button *ngIf="this.userService.isAdmin() || this.userService.isAdvertiser()" type="button" class="btn btn-primary" data-bs-toggle="modal"  data-bs-target="#exampleModal" mat-raised-button color="primary" >
      <mat-icon aria-hidden="false" aria-label="Example edit icon">edit</mat-icon>
    </button>

    <p>
      Description of the apartments: {{details.apartment?.description}}
    </p>
    <p>
      Apartment type: {{details.apartment?.type?.name}}
    </p>
    <p>
      Price: {{details.apartment?.price}} $
    </p>

    <!--CHANGES TO APARTMENT PARAMETERS-->




    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h2 class="modal-title" id="exampleModalLiveLabel">Changing the description of apartments</h2>
          </div>
          <form #myForm="ngForm" novalidate (ngSubmit)="onSubmitEditApartment(myForm)">
            <div class="modal-body">
              <div class="mb-3">
                <label for="message-text" class="col-form-label">Type:</label>
                <div class="form-group">
                  <input class="form-control" name="type" type="details.apartment?.type"
                         [value]="details.apartment?.type?.name" ngModel required/>
                </div>
                <label for="message-text" class="col-form-label">Price:</label>
                <div class="form-group">
                  <input class="form-control" name="price" type="details.apartment?.price"
                         [value]="details.apartment?.price" ngModel required/>
                </div>
                <label for="message-text" class="col-form-label">Description:</label>
                <div class="form-group">
                  <input class="form-control" name="description" type="details.apartment?.description"
                         [value]="details.apartment?.description" ngModel required/>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <div class="form-group">
                <button type="submit" class="btn btn-primary" data-bs-dismiss="modal" [disabled]="myForm.invalid">
                  Save Changes
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>


    <!--Booking of apartments-->
    <mat-expansion-panel *ngIf="this.userService.isLoggedIn()">
      <mat-expansion-panel-header>
        <mat-icon>date_range</mat-icon>
        <mat-panel-title>
          Enter dates
        </mat-panel-title>
      </mat-expansion-panel-header>


      <mat-form-field appearance="fill">
        <mat-label>Enter a date range</mat-label>
        <mat-date-range-input [formGroup]="fil" [rangePicker]="picker">
          <input matStartDate formControlName="startDate" placeholder="Start date">
          <input matEndDate formControlName="endDate" placeholder="End date">
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>

      </mat-form-field>

      <button mat-raised-button color="primary" (click)="bookingApartment(fil)">To Book
      </button>

      <div class="alert alert-warning" *ngIf="statusFailed">
        {{ Message }}
      </div>

      <div class="alert alert-danger" *ngIf="statusError">
        {{ Message }}
      </div>

      <div class="alert alert-success" *ngIf="statusSuccessfully">
        {{ Message }}
      </div>
    </mat-expansion-panel>

  </ul>
</div>
