<div class="app">
  <div class="topnav">

    <a class="nav-item" routerLink="filter-hotel" routerLinkActive="active">Home</a>
    <a class="nav-item" routerLink="filter" routerLinkActive="active">Apartments</a>
    <a class="nav-item" routerLink="hotel" routerLinkActive="active">Hotels</a>
    <!--<a class="nav-item" routerLink="hotel/add" routerLinkActive="active">Add Hotel*</a>
    <a class="nav-item" routerLink="hotel/edit" routerLinkActive="active">Edit Hotel*</a>
    <a class="nav-item" routerLink="delete" routerLinkActive="active">Delete Hotel*</a>-->
    <a class="nav-item" routerLink="reservation" routerLinkActive="active">Reservations</a>
    <a class="nav-item" routerLink="user/booking" routerLinkActive="active">My bookings</a>
    <a class="nav-item" routerLink="hotel/manage-hotel" routerLinkActive="active">Manage hotels</a>

    <ng-template [ngIf]="!isLoggedIn">
      <a class="nav-item-right" routerLink="register">Sign Up</a>
      <a class="nav-item-right" routerLink="login">Login</a>
    </ng-template>
    <a class="nav-item-right" *ngIf="isLoggedIn" (click)="signOut()">Sign Out</a>
  </div>
  <router-outlet></router-outlet>
</div>
