<div class="app">
  <div class="topnav">
    <a class="nav-item" routerLink="filter-hotel" routerLinkActive="active">Home</a>
    <!--<a class="nav-item" routerLink="filter" routerLinkActive="active">Apartments</a>-->
    <!--<a class="nav-item" routerLink="hotel/all" routerLinkActive="active">Hotels</a>-->
    <!--<a class="nav-item" routerLink="hotel/add" routerLinkActive="active" *ngIf="isAdmin">Add Hotel*</a>
    <a class="nav-item" routerLink="hotel/edit" routerLinkActive="active" *ngIf="isAdmin">Edit Hotel*</a>
    <a class="nav-item" routerLink="delete" routerLinkActive="active" *ngIf="isAdmin">Delete Hotel*</a>-->
    <a class="nav-item" routerLink="reservation" routerLinkActive="active" *ngIf="isAdmin">Reservations</a>
    <a class="nav-item" routerLink="user/booking" routerLinkActive="active"
       *ngIf="isAdmin || isAdvertiser || username">My bookings</a>
    <a class="nav-item" routerLink="hotel/manage-hotel" routerLinkActive="active" *ngIf="isAdmin || isAdvertiser">Manage hotels</a>
    <a class="nav-item" routerLink="user/manage" routerLinkActive="active" *ngIf="isAdmin">Manage User</a>

    <ng-template [ngIf]="!isLoggedIn">
      <a class="nav-item-right" routerLink="register">Sign Up</a>
      <a class="nav-item-right" routerLink="login">Login</a>
    </ng-template>
    <a class="nav-item-right" *ngIf="isLoggedIn" (click)="signOut()">Sign Out</a>
  </div>
  <router-outlet></router-outlet>
</div>
