table {
  width: 75%;
  margin: 5% 10% 0 15%;
  text-align: center
}

.mat-header-cell {
  text-align: center;
  color: #000000;
  font-weight: bold;
  font-size: 15px;
}

.mat-header-cell {
  text-align: center;
}

.button-cancel {
  background-color: #870f06db;
  color: white;
}
